body{
	text-align:left;
	background-color:#ffffff;
	background-repeat:repeat-y;
	background-position:left;
	width:800px;
	padding-top:5px;
	margin-left:10px;
	margin-right:10px;
}

a:link { color: #0000ff; }
a:visited { color: #0000ff; }
	
div#nesting{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	margin-left:10px;
	padding-bottom:5px;
}

div#link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:right;
	font-weight:normal;
	margin-right:2px;
	padding-bottom:0px;
}

article{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

hr{
	width:105%;
}

.contents{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:800px;
	height:auto;
	text-align:left;
	float:left;
	line-height:160%;
        margin-top:2px;
        margin-bottom:5px;
        padding-left:5px;
        padding-right:5px;
	}

h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	text-align:center;
	color:#000000;
	background-color:#eeeeff;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:0;
	margin-top:0;
	border-top-style:solid;
	border-top-color:#0000ff;
	border-top-width:0.2em;
	border-bottom-style:solid;
	border-bottom-color:#0000ff;
	border-bottom-width:0.1em;
	}

h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	border-left:solid 0.4em #0000ff;
	padding-left:0.5em;
	margin-left:0.5em;
	margin-top:1em;
	margin-bottom:0em;
	}

h3{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	padding-left:0.0em;
	margin-left:0.0em;
	margin-top:0em;
	margin-bottom:0em;
	}

h4{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	padding-left:0.0em;
	margin-left:0.0em;
	margin-top:0em;
	margin-bottom:0em;
	}

.headline1 {
	float:left;
	height:21px;
	width:800px;
	border-left:solid 0.4em #0000ff;
	padding-top:0.2em;
	padding-bottom:0.5em;
	padding-left:0.5em;
	margin-left:0.5em;
	margin-top:1em;
	margin-bottom:0.1em;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	border-bottom-width:1px;
}

.headline2 {
	float:left;
	height:21px;
	width:800px;
	border-left:solid 0.4em #0000ff;
	padding-left:0.5em;
	padding-top:0.2em;
	padding-bottom:0.3em;
	margin-left:1em;
	margin-top:0.8em;
	margin-bottom:0.1em;
}

.headline-scroll {
	float:left;
	height:21px;
	width:800px;
	border-left:solid 0.4em #0000ff;
	padding-top:0.2em;
	padding-bottom:0.8em;
	padding-left:0.5em;
	margin-left:0.5em;
	margin-top:1em;
	margin-bottom:1em;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	border-bottom-width:1px;
}


.text1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	float:left;
	height:auto;
	width:800px;
	margin-top:2px;
	margin-bottom:15px;
	padding-left:15px;
	padding-right:15px;
}

.text2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	float:left;
	height:auto;
	width:800px;
	margin-top:2px;
	margin-bottom:5px;
	padding-left:25px;
	padding-right:25px;
}

pre{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap; 
	word-break: break-all;
	word-wrap: break-word;
	margin-top:5px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:15px;
	color:#000000;
	background-color:#dddddd;
	}
p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	height:auto;
	width:auto;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:15px;
	padding-right:15px;
}

footer{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin-top:2px;
	margin-bottom:2px;
	padding-left:15px;
	padding-right:15px;
	}

.size0{
	width:250px;
}

.size1{
	width:400px;
}

.size2{
	width:600px;
}

.size3{
	width:800px;
}

@media screen and (max-width: 480px) {
body{
	width:95%;
}

.contents{
	width:95%;
	}

h1{
	font-size:28px;
	}

h2{
	font-size:21px;
	}

h3{
	font-size:16px;
	}

h4{
	font-size:14px;
	}

.headline1 {
	height:21px;
	width:95%;
	padding-top:0.0em;
	padding-bottom:0.0em;
	padding-left:0.5em;
	margin-left:0.0em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap; 
	box-sizing: border-box
}

.headline2 {
	height:21px;
	width:95%;
	padding-left:0.5em;
	margin-left:0.0em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap; 
}

.headline-scroll {
        height:21px;
        width:95%;
        padding-top: 0.0em;
        padding-bottom:0.8em;
        padding-left:0.5em;
        margin-left:0.0em;
        margin-top:0.5em;
        margin-bottom:0.7em;
        box-sizing: border-box;
        white-space: pre;
        white-space: pre-line;
        white-space: nowrap; /* 折り返されないように */
        overflow-x: auto; /* 横スクロール */
        -webkit-overflow-scrolling: touch; /* スムーズにスクロール */
}

.list1 {
	padding-left:15px;
	padding-right:15px;
}

.list2 {
	padding-left:20px;
	padding-right:20px;
}

.text1 {
	font-size:12px;
	width:95%;
	word-break: break-all;
	word-wrap: break-word;
}

.text2 {
	font-size:12px;
	width:95%;
	word-break: break-all;
	word-wrap: break-word;
}

footer{
	font-size:10px;
	}

.size0{
	width:250px;
}

.size1{
	width:95%;
}

.size2{
	width:95%;
}

.size3{
	width:95%;
}

}
